{% extends 'store/main.html' %}
{% load static %}
{% block content %}

    <!-- Blog Article -->
    <div class="container mx-auto px-6 py-8">
        <div class="bg-white rounded shadow p-6">
            <h1 class="font-bold text-5xl mb-2">Title of the Blog Article</h1>
            <p class="text-gray-600 text-sm">Published on: 2024-01-16</p>
            <img src="{% static 'img/placeholder.png' %}" alt="Article Main" class="rounded mt-10 mb-10">
            <div class="mt-4 text-gray-700">
                <p>Here is the first paragraph of the article...</p>
                <p>Here is the second paragraph of the article...</p>
                <!-- More content -->
            </div>
        </div>
    </div>

{% endblock content %}
