{% extends 'store/main.html' %}
{% load static %}
{% block content %}
    <div class="mx-auto px-6 py-12 text-center">
        <h1 class="text-6xl font-bold text-primary mb-2">404</h1>
        <h2 class="text-4xl font-medium mb-5">Oops! Page not found.</h2>
        <p class="text-gray-600 mb-6">We can't seem to find the page you're looking for.</p>
        <a href="#" class="bg-primary text-white px-6 py-3 rounded hover:bg-primary-dark transition duration-300">Go back home</a>
    </div>
{% endblock content %}