{% load static %}
{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>

    <link rel="shortcut icon" href="{% static 'img/AlpineAura.ico' %}" type="image/x-icon">

    {% tailwind_css %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;500;700&display=swap"
        rel="stylesheet">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>
<body>
<!-- header -->
    <header class="py-4 shadow-sm bg-white">
        <div class="container flex items-center justify-between">
            <a href="{% url "store:home" %}">
                <img src="{% static 'img/AlpineAura_Logo.png' %}" alt="Logo" class="w-64 md:w-48 lg:w-40">
            </a>

            <div class="w-full max-w-xl relative flex">
                <img class="absolute left-4 top-3 text-lg text-gray-400 hidden md:flex" src="{% static 'icons/search.svg' %}" alt="Search Icon">
                <input type="text" name="search" id="search"
                    class="w-full border border-primary border-r-0 pl-12 py-3 pr-3 rounded-l-md focus:outline-none hidden md:flex"
                    placeholder="Search...">
                <button
                    class="bg-primary border border-primary text-white px-8 rounded-r-md hover:bg-transparent hover:text-primary transition items-center
                    hidden md:flex">Search</button>
            </div>

            <div class="flex items-center space-x-4">
                <a href="#" class="flex flex-col items-center text-center text-gray-700 hover:text-primary transition relative">
                    <div class="text-2xl">
                        <img src="{% static 'icons/favorite.svg' %}" alt="Wishlist Icon">
                    </div>
                    <div class="text-xs leading-3">Wishlist</div>
                    <div class="absolute right-0 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
                        8
                    </div>
                </a>

                <a href="{% url 'cart:cart_summary' %}" class="flex flex-col items-center text-center text-gray-700 hover:text-primary transition relative">
                    <div class="text-2xl">
                        <img src="{% static 'icons/shopping_cart.svg' %}" alt="Shopping Cart Icon">
                    </div>
                    <div class="text-xs leading-3">Cart</div>
                    <div id="cart-qty" class="absolute right-0 -top-1 w-5 h-5 rounded-full flex items-center justify-center bg-primary text-white text-xs">
                        {% with total_qty=Cart|length %}
                            {% if total_qty > 0 %}
                                {{ total_qty }}
                            {% else %}
                                0
                            {% endif %}
                        {% endwith %}
                    </div>
                </a>
                <a href="{% url 'account:dashboard' %}" class="flex flex-col items-center text-center text-gray-700 hover:text-primary transition relative">
                    <div class="text-2xl">
                        <img src="{% static 'icons/person.svg' %}" alt="Account Picture">
                    </div>
                    <div class="text-xs leading-3">Account</div>
                </a>
            </div>
        </div>
    </header>
    <!-- ./header -->

    <!-- navbar -->
    <nav class="bg-gray-800">
        <div class="container flex">
            <div class="px-8 py-4 bg-primary md:flex items-center cursor-pointer relative group hidden">
                <span class="text-white">
                    <img src="{% static 'icons/menu.svg' %}">
                </span>
                <span class="capitalize ml-2 text-white items-center">All Categories</span>

                <!-- dropdown -->
                <div
                    class="absolute w-full left-0 top-full bg-white shadow-md py-3 divide-y divide-gray-300 divide-dashed opacity-0 group-hover:opacity-100 transition duration-300 invisible group-hover:visible">
                    
                    {% for c in categories %}
                    <a href="#" class="flex items-center px-6 py-3 hover:bg-gray-100 transition">
                        <img src="{% static 'icons/build.svg' %}" alt="sofa" class="w-5 h-5 object-contain">
                        <span class="ml-6 text-gray-600 text-sm">{{ c.name|title }}</span>
                    </a>
                    {% endfor %}
                
                </div>
            </div>

            <div class="flex items-center justify-between flex-grow md:pl-12 py-5">
                <div class="flex items-center space-x-6 capitalize">
                    <a href="#" class="text-gray-200 hover:text-white transition">Home</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">Shop</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">About us</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">Blog</a>
                    <a href="#" class="text-gray-200 hover:text-white transition">Contact us</a>
                </div>
                {% if user.is_authenticated %}
                <a href="{% url 'account:logout' %}" class="text-red-500 hover:text-white transition">Logout</a>
                {% else %}
                    <a href="{% url 'account:login' %}" class="text-gray-200 hover:text-white transition">Login</a>
                {% endif %}
            </div>
        </div>
    </nav>
    <!-- ./navbar -->

{% block content %}

{% endblock %}
<!-- footer -->
<footer class="bg-white pt-16 pb-12 border-t border-gray-100">
    <div class="container mx-auto px-6">
        <!-- Grid for all sizes, starting with single column for mobile -->
        <div class="grid grid-cols-1 gap-4 mt-4 md:grid-cols-2 lg:grid-cols-4">
            <!-- Logo and description -->
            <div class="space-y-4 mb-4 md:mb-0">
                <img src="{% static 'img/AlpineAura_Logo.png' %}" alt="logo" class="w-48">
                <p class="text-gray-500">
                    AlpineAura is dedicated to providing premium outdoor gear for hiking enthusiasts. Our mission is to equip adventurers with high-quality, durable, and sustainable products that enhance their outdoor experiences.
                </p>
                <div class="flex space-x-5">
                    <!-- Social media links -->
                    <!-- Add your social media links here -->
                </div>
            </div>

            <!-- Customer Information -->
            <div class="mb-4 md:mb-0">
                <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Customer Information</h3>
                <div class="mt-4 space-y-4">
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">About Us</a>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Shop</a>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Blog</a>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Contact Us</a>
                </div>
            </div>

            <!-- Resources & Policies -->
            <div class="mb-4 md:mb-0">
                <h3 class="text-sm font-semibold text-gray-400 uppercase tracking-wider">Resources & Policies</h3>
                <div class="mt-4 space-y-4">
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Size Guides</a>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Shipping and Returns Policy</a>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Privacy Policy</a>
                    <a href="#" class="text-base text-gray-500 hover:text-gray-900 block">Terms of Service</a>
                </div>
            </div>

            <!-- Add additional sections or content here as needed -->
        </div>
    </div>
</footer>
<!-- ./footer -->

<!-- copyright -->
<div class="bg-gray-800 py-4">
    <div class="container mx-auto flex flex-col items-center justify-between px-6 text-center md:flex-row md:text-left">
        <p class="text-white mb-4 md:mb-0">&copy; AlpineAura - All Rights Reserved</p>
    </div>
</div>
<!-- ./copyright -->

</body>
</html>