{% extends 'store/main.html' %}
{% load static %}
{% block title %}{{ product.product_title }}{% endblock title %}
{% block content %}

    <!-- breadcrumb -->
    <div class="container py-4 flex items-center gap-3">
        <a href="{% url 'store:home' %}" class="text-primary text-base">
            <img src="{% static 'icons/home.svg' %}">
        </a>
        <span class="text-sm text-gray-400">
            <img src="{% static 'icons/chevron_right.svg' %}">
        </span>
        <p class="text-gray-600 font-medium">Product</p>
    </div>
    <!-- ./breadcrumb -->

    <!-- django messages -->
    <div id="message" class="container mx-auto my-4 px-4">
        {% if messages %}
            {% for message in messages %}
                <div class="flex items-center bg-blue-100 border-t-4 border-blue-500 rounded-b text-blue-900 px-4 py-3 shadow-md"
                     role="alert">
                    <img class="p-1" src="{% static 'icons/info.svg' %}">
                    <div>
                        <p class="font-bold">Notification</p>
                        <p class="text-sm">{{ message }}</p>
                    </div>
                    <div class="ml-auto pl-4">
                        <button class="close-button text-sm text-blue-500 focus:outline-none"
                                onclick="this.parentElement.parentElement.style.display='none';">
                            <img src="{% static 'icons/close.svg' %}">
                        </button>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <!-- end django messages -->

    <div id="messages-container" class="container mx-auto my-4 px-4"></div>

    <!-- product-detail -->
    <div class="container md:grid md:grid-cols-2 md:gap-6">
        <div>
            {% for image in product.product_image.all %}
                {% if image.is_featured %}
                    <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}" class="w-full">
                {% endif %}
            {% endfor %}
            <div class="grid grid-cols-5 gap-4 mt-4">
                {% for image in product.product_image.all %}
                    {% if image.is_featured %}
                        <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}"
                             class="w-full cursor-pointer border border-primary">
                    {% else %}
                        <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}"
                             class="w-full cursor-pointer border">
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div>
            <h2 class="text-2xl md:text-3xl font-medium uppercase mb-2">{{ product.product_title }} </h2>

            <div class="space-y-2">
                <p class="text-gray-800 font-semibold space-x-2">
                    <span>Availability: </span>
                    {% if product.is_active %}
                        <span class="text-green-600">In Stock</span>
                    {% else %}
                        <span class="text-red-600">Out of Stock</span>
                    {% endif %}

                </p>
                <p class="space-x-2">
                    <span class="text-gray-800 font-semibold">Brand: </span>
                    <span class="text-gray-600">{{ product.brand }}</span>
                </p>
                <p class="space-x-2">
                    <span class="text-gray-800 font-semibold">Category: </span>
                    <span class="text-gray-600">{{ product.category }}</span>
                </p>
                <p class="space-x-2">
                    <span class="text-gray-800 font-semibold">SKU: </span>
                    <span class="text-gray-600">{{ product.sku }}</span>
                </p>
            </div>
            <div class="flex items-baseline mb-1 space-x-2 font-roboto mt-4">
                {% if product.discount_price %}
                    <p class="text-xl text-red-600 font-semibold">{{ product.discount_price }} €</p>
                    <p class="text-base text-gray-400 line-through">{{ product.regular_price }} €</p>
                {% else %}
                    <p class="text-xl text-primary font-semibold">{{ product.regular_price }} €</p>
                {% endif %}
            </div>

            <p class="mt-4 text-gray-600">{{ product.description }}</p>

            <div class="mt-4">
                <h3 class="text-sm text-gray-800 uppercase mb-1">Quantity</h3>
                <div class="flex border border-gray-300 text-gray-600 divide-x divide-gray-300 w-max">
                    <button id="decrease-qty" class="text-gray-500 focus:outline-none focus:text-gray-600"><img
                            src="{% static 'icons/remove.svg' %}"></button>
                    <input type="number" id="product-qty" value="1" class="mx-2 border text-center w-24">
                    <button id="increase-qty" class="text-gray-500 focus:outline-none focus:text-gray-600"><img
                            src="{% static 'icons/add.svg' %}"></button>
                </div>
            </div>

            <div class="flex flex-col gap-3 border-b border-gray-200 pb-5 pt-5">
                <button type="button" id="add-button" data-url="{% url 'cart:cart_add' %}"
                        data-csrf-token="{{ csrf_token }}" value="{{ product.id }}"
                        data-info-icon="{% static 'icons/info.svg' %}" data-close-icon="{% static 'icons/close.svg' %}"
                        class="bg-primary border border-primary text-white px-4 py-2 font-medium rounded uppercase flex items-center gap-2 justify-center hover:bg-transparent hover:text-primary transition">
                    <img src="{% static 'icons/shopping_cart.svg' %}" alt="Cart"> Add to cart
                </button>
                <a href="{% url 'account:add_item_to_wishlist' product.id %}"
                   class="border border-gray-300 text-gray-600 px-4 py-2 font-medium rounded uppercase flex items-center gap-2 justify-center hover:text-primary transition">
                    <img src="{% static 'icons/favorite.svg' %}" alt="Wishlist"> Wishlist
                </a>
            </div>

        </div>
    </div>
    <!-- ./product-detail -->


    <!-- description -->
    <div class="container pb-16">
        <h3 class="border-b border-gray-200 font-roboto text-gray-800 pb-3 font-medium mt-4">Product Details</h3>
        <div class="md:w-3/5 pt-6">
            <div class="text-gray-600">
                <p>{{ product.long_description }}</p>
            </div>

            <table class="table-auto border-collapse w-full text-left text-gray-600 text-sm mt-6">

                {% for spec in product_specifications %}
                    <tr>
                        <th class="py-2 px-4 border border-gray-300 w-40 font-medium">{{ spec.specification.name }}</th>
                        <th class="py-2 px-4 border border-gray-300 ">{{ spec.value }}</th>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>
    <!-- ./description -->


    <!-- related product -->
    <div class="container pb-16">
        <h2 class="text-2xl font-medium text-gray-800 uppercase mb-6">Related products</h2>
        <div class="grid grid-cols-1 md:grid-cols-4 gap-6">
            {% for product in related_products %}
                <div class="bg-white shadow rounded overflow-hidden group">
                    <a href="{{ product.get_absolute_url }}">
                        {% for image in product.product_image.all %}
                            {% if image.is_featured %}
                                <img src="{{ image.image.url }}" alt="{{ image.alt_text }}"
                                     class="w-full h-56 object-cover object-center">
                            {% endif %}
                        {% endfor %}
                    </a>
                    <div class="p-4">
                        <h2 class="text-lg font-semibold mb-2">{{ product.product_title }}</h2>
                        <p class="text-gray-600 mb-4">{{ product.description|truncatewords:20 }}</p>
                        <div class="flex items-center gap-4">
                            {% if product.discount_price %}
                                <div class="flex items-baseline gap-2">
                                    <p class="text-xl font-semibold text-red-600">{{ product.discount_price }} €</p>
                                    <p class="text-base text-gray-400 line-through">{{ product.regular_price }} €</p>
                                </div>
                            {% else %}
                                <p class="text-xl font-semibold text-blue-600">{{ product.regular_price }} €</p>
                            {% endif %}
                            <a href="{{ product.get_absolute_url }}"
                               class="ml-auto px-4 py-2 bg-primary text-white rounded hover:bg-primary-dark transition">View</a>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
    <!-- ./related product -->


    <script src="{% static 'js/cart.js' %}"></script>
{% endblock content %}