{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto px-4">
        <!-- Return Policy Introduction -->
        <section class="my-8">
            <h1 class="text-2xl font-bold">AlpineAura Return Policy</h1>
            <p class="mt-2">At AlpineAura, we are committed to providing our customers with high-quality hiking and outdoor gear. We understand that sometimes a product may not fit your needs or expectations. In these cases, we offer a straightforward and customer-friendly return policy.
            </p>
        </section>

        <!-- Return Period -->
        <section class="my-4">
            <h2 class="text-xl font-semibold">Return Period</h2>
            <p>You have 30 days from the date of purchase to initiate a return.</p>
        </section>

        <!-- Condition of Returned Items -->
        <section class="my-4">
            <h2 class="text-xl font-semibold">Condition of Returned Items</h2>
            <ul>
                <li>Items must be returned in their original condition, unworn, with tags attached, and in their original packaging.</li>
                <li>Items that are damaged, altered, or show signs of wear may not be eligible for a return or exchange.</li>
            </ul>
        </section>

        <!-- How to Initiate a Return -->
        <section class="my-4">
            <h2 class="text-xl font-semibold">How to Initiate a Return</h2>
            <ul>
                <li>1. Visit our online Returns Center and fill out the return request form. </li>
                <li>2. Include a brief description of the reason for the return. </li>
                <li>3. You will receive a return authorization number and a prepaid shipping label via email.</li>
            </ul>
        </section>

        <!-- Return Shipping -->
        <section class="my-4">
            <h2 class="text-xl font-semibold">Return Shipping</h2>
            <p>    We offer free return shipping for items within the continental United States.
    For international returns, customers are responsible for return shipping costs.</p>
        </section>

        <!-- Refunds -->
        <section class="my-4">
            <h2 class="text-xl font-semibold">Refunds</h2>
            <p>    Refunds will be processed to the original method of payment within 5-7 business days of receiving the returned item.
    Note: Shipping charges are non-refundable.</p>
        </section>

        <!-- Exchanges -->
        <section class="my-4">
            <h2 class="text-xl font-semibold">Exchanges</h2>
            <p>If you wish to exchange an item, please follow the return procedure and place a new order for the item you desire.</p>
        </section>

        <!-- Defective or Incorrect Items -->
        <section class="my-4">
            <h2 class="text-xl font-semibold">Defective or Incorrect Items</h2>
            <p>If you receive a defective or incorrect item, please contact us immediately at support@alpineaura.com. We will expedite a replacement and cover all associated shipping costs.
            </p>
        </section>

        <!-- Additional Information -->
        <section class="my-4">
            <h2 class="text-xl font-semibold">Additional Information</h2>
            <p>    We reserve the right to limit or decline returns or exchanges that do not comply with our policy.
    This policy is subject to change without notice.</p>
        </section>

        <!-- Contact Us -->
        <section class="my-8">
            <h2 class="text-xl font-semibold">Contact Us</h2>
            <p>For any questions regarding our return policy or for assistance with your return, please contact our customer service team at support@alpineaura.com. We're here to help!</p>
        </section>
    </div>
{% endblock content %}