{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-bold text-gray-800 mb-4">AlpineAura Terms of Service</h1>
    <p class="mb-2">Last Updated: 18.01.2024</p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">1. Introduction</h2>
    <p class="text-gray-600 mt-2">
        Welcome to AlpineAura! These Terms of Service ("Terms") govern your use of the AlpineAura website, mobile application, and related services (collectively, the "Service"). By accessing or using our Service, you agree to be bound by these Terms and our Privacy Policy. If you do not agree to these Terms, do not use our Service.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">2. Use of Our Service</h2>
    <p class="text-gray-600 mt-2">
        AlpineAura provides a range of e-commerce services including the sale of hiking and outdoor equipment. Our Service is intended for personal, non-commercial use.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">3. Account Registration</h2>
    <p class="text-gray-600 mt-2">
        To access certain features of our Service, you may be required to create an account. You agree to provide accurate, current, and complete information during the registration process and to update such information to keep it accurate, current, and complete.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">4. Privacy Policy</h2>
    <p class="text-gray-600 mt-2">
        Our Privacy Policy describes how we handle the information you provide to us when you use our Service. You understand that through your use of our Service, you consent to the collection and use of this information.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">5. Prohibited Activities</h2>
    <p class="text-gray-600 mt-2">
        In using our Service, you agree not to:
        <ul class="list-disc pl-5 text-gray-600 mt-2">
            <li>Engage in any unlawful activities;</li>
            <li>Violate any applicable laws or regulations;</li>
            <li>Infringe on the rights of others;</li>
            <li>Post or transmit any material that is harmful, threatening, abusive, or offensive.</li>
        </ul>
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">6. Intellectual Property</h2>
    <p class="text-gray-600 mt-2">
        All content on AlpineAura, including text, graphics, logos, images, and software, is the property of AlpineAura or its licensors and protected by copyright and other intellectual property laws.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">7. Limitation of Liability</h2>
    <p class="text-gray-600 mt-2">
        AlpineAura shall not be liable for any indirect, incidental, special, consequential, or punitive damages resulting from your access to or use of, or inability to access or use, the Service.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">8. Changes to Terms</h2>
    <p class="text-gray-600 mt-2">
        We reserve the right to modify these Terms at any time. We will provide notice of any changes by posting the updated Terms on our website and updating the "Last Updated" date.
    </p>

    <h2 class="text-xl font-semibold text-gray-700 mt-6">9. Contact Us</h2>
    <p class="text-gray-600 mt-2">
        If you have any questions about these Terms, please contact us at support@alpineaura.com
    </p>
</div>
{% endblock content %}
