{% extends 'store/main.html' %}

{% block title %}
Account Dashboard
{% endblock title %}

{% load static %}

{% block content %}
<!-- breadcrumb -->
<div class="container mx-auto py-4 flex items-center gap-3">
    <a href="{% url 'store:home' %}" class="text-primary text-base">
        <img src="{% static 'icons/home.svg' %}" alt="Home">
    </a>
    <img src="{% static 'icons/chevron_right.svg' %}" alt=">" class="text-sm text-gray-400">
    <p class="text-gray-600 font-medium">Dashboard</p>
</div>
<!-- ./breadcrumb -->

<!-- account wrapper -->
<div class="container mx-auto mt-4 pb-16 max-w-7xl">
    <div class="grid md:grid-cols-3 gap-6">
        <!-- Orders -->
        <a href="{% url 'account:user_orders' %}" class="bg-white shadow-lg rounded-lg p-8 hover:bg-gray-100 transition">
            <div class="flex items-center space-x-4">
                <img src="{% static 'icons/orders.svg' %}" alt="Orders" class="h-12 w-12">
                <div>
                    <span class="block text-gray-800 font-medium text-lg">Orders</span>
                    <p class="text-sm text-gray-600">View your order history</p>
                </div>
            </div>
        </a>

        <!-- Login Security -->
        <a href="{% url 'account:edit_details' %}" class="bg-white shadow-lg rounded-lg p-8 hover:bg-gray-100 transition">
            <div class="flex items-center space-x-4">
                <img src="{% static 'icons/security.svg' %}" alt="Security" class="h-12 w-12">
                <div>
                    <span class="block text-gray-800 font-medium text-lg">Login & Security</span>
                    <p class="text-sm text-gray-600">Manage your login details</p>
                </div>
            </div>
        </a>

        <!-- Addresses -->
        <a href="{% url 'account:addresses' %}" class="bg-white shadow-lg rounded-lg p-8 hover:bg-gray-100 transition">
            <div class="flex items-center space-x-4">
                <img src="{% static 'icons/local_shipping.svg' %}" alt="Addresses" class="h-12 w-12">
                <div>
                    <span class="block text-gray-800 font-medium text-lg">Addresses</span>
                    <p class="text-sm text-gray-600">Edit your shipping addresses</p>
                </div>
            </div>
        </a>
        
        <!-- Wishlist -->
        <a href="{% url 'account:wishlist' %}" class="bg-white shadow-lg rounded-lg p-8 hover:bg-gray-100 transition">
            <div class="flex items-center space-x-4">
                <img src="{% static 'icons/favorite.svg' %}" alt="Wishlist" class="h-12 w-12">
                <div>
                    <span class="block text-gray-800 font-medium text-lg">Wishlist</span>
                    <p class="text-sm text-gray-600">View and manage your wishlist</p>
                </div>
            </div>
        </a>
    </div>
</div>
{% endblock content %}
