{% extends 'store/main.html' %}
{% load static %}
{% block title %}Reset status{% endblock title %}
{% block content %}

<div class="contain py-16">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">

        {% if 'confirm' in request.get_full_path %}
            <h2 class="text-2xl uppercase font-medium mb-1">Check Your Email</h2>
            <p class="text-gray-600 mb-6 text-sm">
                We've emailed the address you provided with instructions to reset your password. Please check your inbox and follow the link to continue.
            </p>
            <p class="text-gray-600 mb-6 text-sm">
                If you don't receive an email, and it's not in your spam folder, this could mean we couldn't find an account with that email address.
            </p>

        {% elif 'complete' in request.get_full_path %}
            <h2 class="text-2xl uppercase font-medium mb-1">Password Reset Complete</h2>
            <p class="text-gray-600 mb-6 text-sm">
                Your password has been successfully reset. You can now use your new password to log in to your account.
            </p>
    
        {% else %}
            <h2 class="text-2xl uppercase font-medium mb-1">Account email sent</h2>
            <p class="text-gray-600 mb-6 text-sm">
                We've emailed the address you provided with instructions to reset your password. Please check your inbox and follow the link to continue.
            </p>
            <p class="text-gray-600 mb-6 text-sm">
                If you don't receive an email, and it's not in your spam folder, this could mean we couldn't find an account with that email address.
            </p>

        {% endif %}

        <div class="mt-4">
            <a href="{% url 'account:login' %}"
               class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                Return to Login
            </a>
        </div>
    </div>
</div>

{% endblock content %}
