{% extends 'store/main.html' %}
{% load static %}
{% block title %}Reset your account{% endblock title %}
{% block content %}

    {% if request.user.is_authenticated %}
        <script>
        window.location.href = '{% url 'account:dashboard' %}';
        </script>
    {% else %}
        <!-- Reset Password -->
        <div class="contain py-16">
            <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
                <h2 class="text-2xl uppercase font-medium mb-1">Reset Your Password</h2>
                <p class="text-gray-600 mb-6 text-sm">
                    Please enter your email address below and we will send you instructions to reset your password.
                </p>
                <form action="{% url 'account:reset_password' %}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="space-y-2">
                        <div>
                            {{ form.email.label_tag }}
                            {{ form.email }}
                            {{ form.email.errors }}
                        </div>
                    </div>
                    <div class="mt-4">
                        <button type="submit"
                                class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">
                            Send Reset Link
                        </button>
                    </div>
                </form>
                <p class="mt-4 text-center text-sm text-gray-600">
                    Remembered your password? <a href="{% url 'account:login' %}" class="text-primary hover:underline">Login</a>
                </p>
            </div>
        </div>
        <!-- ./Reset Password -->
    {% endif %}

{% endblock content %}
