{% extends 'store/main.html' %}
{% block title %}User Orders{% endblock %}

{% block content %}
<div class="container mx-auto px-4 py-8">
    <h1 class="text-2xl font-semibold mb-4">Your Orders</h1>
    {% for order in orders %}
        <div class="mb-5 bg-white shadow rounded-lg overflow-hidden">
            <div class="p-4 bg-gray-100 flex justify-between">
                <div>
                    <span class="font-semibold">Order placed on:</span> {{ order.created }}
                </div>
                <div>
                    <span class="font-semibold">Total:</span> €{{ order.total_paid }}
                </div>
            </div>
            <div class="p-4 flex justify-between">
                <div class="flex-1">
                    <span class="font-semibold">Address:</span> {{ order.full_name }}, {{ order.address1 }}, {{ order.address2 }}, {{ order.post_code }}
                </div>
            </div>
            {% for item in order.items.all %}
                <div class="flex justify-between items-center p-4 border-t space-x-4">
                    <div class="flex items-center space-x-4">
                        {% for image in item.product.product_image.all %}
                            {% if image.is_featured %}
                                <img src="{{ image.image.url }}" alt="{{ image.image.alt_text }}" class="h-20 w-20 object-cover">
                            {% endif %}
                        {% endfor %}
                        <span class="text-sm">Qty: {{ item.quantity }}</span>
                    </div>
                    <!-- Apply primary button style with additional margin/padding to the product link -->
                    <a href="{{ item.product.get_absolute_url }}" class="py-2 px-4 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition ml-auto">
                        View Product
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>
{% endblock %}
